@import "tailwindcss";

@theme {
  --color-background: #171717;
  --color-foreground: #FFFFFF;
  --font-titillium-web: 'Titillium Web', sans-serif;
}

html,
body {
  @apply bg-background text-foreground font-titillium-web;
  scrollbar-gutter: stable;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
  animation: zeroRotation 1s ease infinite alternate-reverse;
}

@keyframes zeroRotation {
  0% {
    transform: scale(2.5) rotate(0deg);
  }

  100% {
    transform: scale(0.25) rotate(360deg);
  }
}