@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #171717;
  --color-foreground: #FFFFFF;
  --font-titillium-web: 'Titillium Web', sans-serif;
}

html,
body {
  @apply bg-background text-foreground font-titillium-web;
}